<section id="page2-category-picker">
  <h2>Register My habit</h2>

  <label>
  Category
    <select
      name="category"
      hx-get="/ui/page2/category-picker"
      hx-trigger="change"
      hx-target="#page2-category-picker"
      hx-swap="outerHTML">
      {% for category in source_categories %}
        <option value="{{ category }}" {% if category == active_category %}selected{% endif %}>{{ category }}</option>
      {% endfor %}
    </select>
  </label>

  {% if active_category == 'Original' %}
  <details>
    <summary>Original Habit</summary>
    <form hx-post="/ui/page2/register-original-habit?category=Original" hx-swap="none">
      <label>
        Name
        <input type="text" name="name" required>
      </label>
      <label>
        Description
        <input type="text" name="description">
      </label>
      <button type="submit">Register as My Habit</button>
    </form>
  </details>
  {% else %}
  <form hx-post="/ui/page2/register-habit?category={{ active_category }}" hx-swap="none">
    <label>
     Habit
      <select name="habit_id" required>
        {% for habit in source_habits %}
          <option value="{{ habit.id }}">{{ habit.name }}</option>
        {% else %}
          <option value="">nothing</option>
        {% endfor %}
      </select>
    </label>
    <button type="submit">Register as My Habit</button>
  </form>
  {% endif %}
</section>
